$white: #fff;
$black: #000;

$color_gray000: #f0f0f0;
$color_gray100: #f9f9f9;
$color_gray200: #f4f4f4;
$color_gray300: #dbdbdb;
$color_gray400: #b4b4b4;
$color_gray500: #929292;
$color_gray600: #696969;
$color_gray700: #565656;
$color_gray800: #3a3a3a;
$color_gray900: #1a1a1a;

$color_red100: #fff5f5;
$color_red200: #fed7d7;
$color_red300: #feb2b2;
$color_red400: #fc8181;
$color_red500: #f56565;
$color_red600: #e53e3e;
$color_red700: #c53030;
$color_red800: #9b2c2c;
$color_red900: #742a2a;

$color_orange100: #fffaf0;
$color_orange200: #feebc8;
$color_orange300: #fbd38d;
$color_orange400: #f6ad55;
$color_orange500: #ed8936;
$color_orange600: #dd6b20;
$color_orange700: #c05621;
$color_orange800: #9c4221;
$color_orange900: #7b341e;

$color_yellow100: #fffff0;
$color_yellow200: #fefcbf;
$color_yellow300: #faf089;
$color_yellow400: #f6e05e;
$color_yellow500: #ecc94b;
$color_yellow600: #d69e2e;
$color_yellow700: #b7791f;
$color_yellow800: #975a16;
$color_yellow900: #744210;

$color_green100: #f0fff4;
$color_green200: #c6f6d5;
$color_green300: #9ae6b4;
$color_green400: #68d391;
$color_green500: #48bb78;
$color_green600: #38a169;
$color_green700: #2f855a;
$color_green800: #276749;
$color_green900: #22543d;

$color_teal100: #e6fffa;
$color_teal200: #b2f5ea;
$color_teal300: #81e6d9;
$color_teal400: #4fd1c5;
$color_teal500: #38b2ac;
$color_teal600: #319795;
$color_teal700: #2c7a7b;
$color_teal800: #285e61;
$color_teal900: #234e52;

$color_blue100: #ebf8ff;
$color_blue200: #bee3f8;
$color_blue300: #90cdf4;
$color_blue400: #63b3ed;
$color_blue500: #4299e1;
$color_blue600: #3182ce;
$color_blue700: #2b6cb0;
$color_blue800: #2c5282;
$color_blue900: #2a4365;

$color_indigo100: #ebf4ff;
$color_indigo200: #c3dafe;
$color_indigo300: #a3bffa;
$color_indigo400: #7f9cf5;
$color_indigo500: #667eea;
$color_indigo600: #5a67d8;
$color_indigo700: #4c51bf;
$color_indigo800: #434190;
$color_indigo900: #3c366b;

$color_purple100: #faf5ff;
$color_purple200: #e9d8fd;
$color_purple300: #d6bcfa;
$color_purple400: #b794f4;
$color_purple500: #9f7aea;
$color_purple600: #805ad5;
$color_purple700: #6b46c1;
$color_purple800: #553c9a;
$color_purple900: #44337a;

$color_pink100: #fff5f7;
$color_pink200: #fed7e2;
$color_pink300: #fbb6ce;
$color_pink400: #f687b3;
$color_pink500: #ed64a6;
$color_pink600: #d53f8c;
$color_pink700: #b83280;
$color_pink800: #97266d;
$color_pink900: #702459;
